/* icon 圖示格式*/
.fa-caret-square-o-down {
    cursor:n-resize;
}
.fa-linkedin-square {
    color: #0044BB;
}
.fa-github {
    color: #fef;
}
.fa-stack-overflow {
    color: #FFCC22;
}
.fa-envelope-square {
    color: #77DDFF;
}
.fa-download {
    color: #5599FF;
}