
.left_bar {
	text-align: center;
	background-color: #000;
	color: #fff;
	height: 98vh;
}

.left_bar_content {
	text-align: left;
}

.left_bar_bottom {
	position: fixed;
	margin-left: 5%;
	bottom: 5%;
}