.top_bar {
	color: #fff;
	position: fixed;
	float: right;
	margin-left: 97%;
	margin-top: 13%;
	// background-color: lightgray;
	// width: 50px;
}

.language_button {
	float: right;
	display: inline-block;
	width: 100px;
}